<h1 class="grid-6"><a href="/">ReadMore!</a></h1>
<%= form_with model: @book, url:books_path, local: true do |f| %>
  <div class="book-box">
    <div class = todo>読んだ本を投稿しよう！</div>
    <div class="img-upload">
      <div class="click-upload">
        クリックして本の画像をアップロードしてください！<br>
        <%= f.file_field :image, id:"book-image" %>
      </div>
    </div>
    <%= f.text_field :title, class:"title", placeholder:"この本のタイトルを教えてください！" %>
    <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"category-select"}) %>
    <%= f.text_area :story, class:"story", placeholder:"この本のあらすじを教えてください！" %>
    <%= f.text_area :quote, class:"quote", placeholder:"好きな箇所を引用してください" %>
    <%= f.text_area :thought, class:"thought", placeholder:"この本の感想を教えてください！" %>
    <form type="get" action="#">
     この本の評価を教えてください！
      <div class="evaluation">
        <input id="star1" type="radio" name="star" value="5" />
        <label for="star1"><span class="text">最高</span>★</label>
        <input id="star2" type="radio" name="star" value="4" />
        <label for="star2"><span class="text">良い</span>★</label>
        <input id="star3" type="radio" name="star" value="3" />
        <label for="star3"><span class="text">普通</span>★</label>
        <input id="star4" type="radio" name="star" value="2" />
        <label for="star4"><span class="text">悪い</span>★</label>
        <input id="star5" type="radio" name="star" value="1" />
        <label for="star5"><span class="text">最悪</span>★</label>
      </div>
    </form>

    <%= f.submit "投稿する" ,class:"btn" %>
    <%= link_to 'もどる', root_path %>
  </div>
<% end %>
